.btn {
  width: 100px;
  height: 50px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  background: skyblue;
  width: 100%;
  text-align: center;
  height: 200px;
  color: brown;
}

.nav{
  cursor: pointer;
  padding: 50px;
  background: wheat;
  height: 25px;
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  color: rgb(71, 156, 35);
  background-color: rgb(44, 11, 50);
}
